@import "tailwindcss";

@theme {
  --font-kode: "Kode Mono", monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 5px;
}